<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<script src="/static/js/jquery.js"></script>-->
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <title>Document</title>
</head>
<style>
    body{
        width: 100%;
        height: 100%;
    }
    a{
        list-style: none;
    }
    .add{
        width: 200px;
        margin-bottom: 10px;
        line-height: 50px;
    }
    .add img{
        width: 30px;
        height:30px;
    }
    .add span{
        margin-left: 5px;
    }
</style>
<body>
<div class="add"><a href="/bigtyadd/"><img src="/static/image/png/add.png" alt=""><span>类型添加</span></a></div>
{% if data %}
    <table class="table table-striped">
        <tr>
            <th>类型ID</th>
            <th>类型名字</th>
            <th>操作</th>
        </tr>
        {% for item in data %}
            <tr>
                <td name="{{ item.bigtyid }}">{{ item.bigtyid}}</td>
                <td name="{{ item.bigtyname }}">{{ item.bigtyname }}</td>
                <td>
                    <a href="/bigtyedit/?id={{item.id}}"><img src="../static/image/png/edit.png" alt="" style="width: 20px;"></a>
                    <a href="/bigtydel/?bigtyid={{item.bigtyid}}"><img src="../static/image/png/del.png" alt="" style="width: 20px;"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
没有数据
{% endif %}
{{ page | safe }}
</body>
</html>